<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Integrated project notebook
© ExploreAI Academy

This notebook guides us on how to create a notebook for the integrated project.

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `md_water_services` database.

## Connecting to our MySQL database

Using our `Access_to_Basic_Services` table in our `united_nations` database we created in MySQL Workbench, we want to answer some questions about our dataset. We can apply the same queries we used in MySQL Workbench in this notebook if we connect to our MySQL server by running the cells below.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:password@localhost:3306/md_water_services

## Managing SQL queries in notebooks
Notebooks are great tools to explore a database. Notebooks contain `Python` cells:

In [ ]:
# We run Python commands in here

and `Markdown` cells:

Used to display text with. Running this cell will create formatted text.

We can use `Markdown` cells to organise our work flow and take notes as we journey through a data project. 
Below are some useful formatting tools you may need:

# Heading 1
Double clicking on this text will enable editing of this text, and the syntax for `Markdown` cells will be visible. Running the cell will produce formatted text.  
## Heading 2
### Heading 3

Tables:
|column1_heading|column2_heading|
|---|---| 
|data|data|

Text formatting:
`code` - Note: This is not a quote mark, it is called a tick mark. On conventional keyboards, it is on the same key as tilde (~).

Text can be **Bold**, *italic*, and <font color='green'>appear</font>  as <font color='red'>colored text </font>.

Use these tools to create notes for yourself.

### Task 1: Get to know our data 
Show all of the tables.

In [5]:
%%sql
# Add your code here

SHOW TABLES;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
8 rows affected.

[('data_dictionary',),
 ('employee',),
 ('global_water_access',),
 ('location',),
 ('visits',),
 ('water_quality',),
 ('water_source',),
 ('well_pollution',)]

NOTES: This query will show all of the tables in a database. When I start a data project, this is a good first command to use to get to know the database.

In [6]:
%%sql
# Add your code here

SELECT
   *
FROM
   location
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkHa00000', '2 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00001', '10 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00002', '9 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00003', '139 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00004', '17 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00005', '125 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00006', '98 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00007', '21 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00008', '11 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00009', '6 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban')]

NOTES: This query fetches 10 records from the `location` table. This is the results set I got, with only 10 rows.

### Task 2: Dive into the water sources

In [ ]:
%%sql
# Add your code here

### Task 3: Unpack the visits to water sources

In [ ]:
%%sql
# Add your code here

### Task 4: Assess the quality of water sources

In [ ]:
%%sql
# Add your code here

## Summary

Notebooks are good tools we can use to develop and analyse results. It is important to organise the workbook well so it is easy to return to at a later stage.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>