<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Creating views 2

© ExploreAI Academy

In this exercise, we will test our understanding of the concepts of database views in database designs.

Ensure that you have downloaded the database file Northwind.db.

## Learning objectives

By the end of this train, you should be able to:

- Create, use, and update views in SQL.

First, let's load our sample database:

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [2]:
# Load the Northwind database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///Northwind.db

Here is a [view](https://www.lucidchart.com/pages/er-diagrams) of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Northwind_ERD.png"  style="width:90%";/>
<br>
<br>
    <em>Figure 1: Northwind ERD</em>
</div>

[Image source](https://www.sqlitetutorial.net/sqlite-sample-database/)

## Exercise

Run the necessary queries that will provide us with the following information. Compare your queries with the solutions at the end of this notebook.

### Exercise 1

Write a SQL statement to create a view named `CustomerOrderView` that shows the `CustomerID`, `OrderID`, and `OrderDate` from the Orders table, and `CompanyName` from the Customers table.

In [3]:
%%sql 
CREATE VIEW
    CustomerOrderView AS
SELECT
    o.CustomerID,
    o.OrderID,
    o.OrderDate,
    c.CompanyName
FROM
    orders o
    JOIN customers c ON c.CustomerID = o.CustomerID

 * sqlite:///Northwind.db
Done.

[]

### Exercise 2

Write a SQL query to retrieve all the data from the `CustomerOrderView` view.

In [5]:
%%sql 

SELECT
    *
FROM
    CustomerOrderView
LIMIT 5

 * sqlite:///Northwind.db
Done.

[('VINET', 10248, '1996-07-04 00:00:00', 'Vins et alcools Chevalier'),
 ('TOMSP', 10249, '1996-07-05 00:00:00', 'Toms Spezialitten'),
 ('HANAR', 10250, '1996-07-08 00:00:00', 'Hanari Carnes'),
 ('VICTE', 10251, '1996-07-08 00:00:00', 'Victuailles en stock'),
 ('SUPRD', 10252, '1996-07-09 00:00:00', 'Suprmes dlices')]

### Exercise 3

Write a SQL statement to update the `CustomerOrderView` view to separate the `OrderDate` column into two different date and time columns named `OrderDateOnly` and `OrderTimeOnly` respectively.

In [6]:
%%sql

DROP VIEW IF EXISTS CustomerOrderView;

CREATE VIEW CustomerOrderView AS
SELECT o.CustomerID, o.OrderID, DATE(o.OrderDate) AS OrderDateOnly, TIME(o.OrderDate) AS OrderTimeOnly, c.CompanyName
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID

 * sqlite:///Northwind.db
Done.
Done.

[]

### Exercise 4

Write a SQL query to retrieve all the data from the updated `CustomerOrderView` view.

In [7]:
%%sql 

SELECT
    *
FROM
    CustomerOrderView
LIMIT 5

 * sqlite:///Northwind.db
Done.

[('VINET', 10248, '1996-07-04', '00:00:00', 'Vins et alcools Chevalier'),
 ('TOMSP', 10249, '1996-07-05', '00:00:00', 'Toms Spezialitten'),
 ('HANAR', 10250, '1996-07-08', '00:00:00', 'Hanari Carnes'),
 ('VICTE', 10251, '1996-07-08', '00:00:00', 'Victuailles en stock'),
 ('SUPRD', 10252, '1996-07-09', '00:00:00', 'Suprmes dlices')]

## Solutions

### Exercise 1

In [ ]:
%%sql

CREATE VIEW CustomerOrderView AS
SELECT o.CustomerID, o.OrderID, o.OrderDate, c.CompanyName
FROM Orders o
INNER JOIN Customers c ON o.CustomerID = c.CustomerID;

### Exercise 2

In [ ]:
%%sql

SELECT * 
FROM CustomerOrderView;

### Exercise 3

In [ ]:
%%sql

DROP VIEW IF EXISTS CustomerOrderView;

CREATE VIEW CustomerOrderView AS
SELECT o.CustomerID, o.OrderID, DATE(o.OrderDate) AS OrderDateOnly, TIME(o.OrderDate) AS OrderTimeOnly, c.CompanyName
FROM Orders o
INNER JOIN Customers c ON o.CustomerID = c.CustomerID;

This query updates the `CustomerOrderView` view to show `OrderDateOnly` and `OrderTimeOnly`.

Note that in SQLite, we can't modify an existing view with an `ALTER VIEW` statement. Instead, we have to drop the existing view and create it again in order to update it.

### Exercise 4

In [ ]:
%%sql

SELECT * 
FROM CustomerOrderView;

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>