<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Subquery in the JOIN clause
© ExploreAI Academy

In this notebook we will look at subqueries, which are powerful tools to enable more in-depth analysis in SQL. They are essentially intermediate results sets that we access with another query, so **a query inside another query**. We can use subqueries in various places in a query, and those subquery results also have various forms. Here, we look at the **use of a subquery in the `JOIN` clause.**

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

In this train, we will learn:
- How to use the result set of a subquery in the main query by joining the main table to the subquery on a related column.

## Overview

Imagine we want to calculate the percentage of land area that a specific country in a sub-region occupies, as a percentage of the total land area in that sub-region. We would need to divide each country’s land area with the sum of all countries in that sub-region.

Previously, we created a correlated subquery that calculated the land area for each row. Let’s improve on that. It would be more efficient if we calculated the total land area once for each sub-region. **We can then run a query that would just retrieve the land area value from the result of the inner query.**

## Connecting to our MySQL database

We will use our `Geographic_location` table in our `united_nations` database that we created in MySQL Workbench. We can apply the same queries we used in MySQL Workbench in this notebook if we connect to our MySQL server by running the cells below.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:password@localhost:3306/united_nations

In [3]:
%sql show tables

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('access_to_basic_services',),
 ('basic_services',),
 ('country_list',),
 ('economic_indicators',),
 ('geographic_location',)]

## Exercise

### 1. Calculate the total land area for each sub-region

Write a query that will aggregate the data by summing the `land area` and then grouping the sums by `sub-region`. Give the sums the alias `TotalLandArea`.

In [5]:
%%sql

SELECT
    sub_region,
    SUM(land_area) AS TotalLandArea
FROM
    geographic_location
GROUP BY
    sub_region

 * mysql+pymysql://root:***@localhost:3306/united_nations
18 rows affected.

[('Southern Asia', Decimal('4770135.41')),
 ('Northern Africa', Decimal('6610941.00')),
 ('Polynesia', Decimal('7217.67')),
 ('Middle Africa', Decimal('3888270.00')),
 ('Caribbean', Decimal('208104.00')),
 ('South America', Decimal('15401392.00')),
 ('Western Asia', Decimal('3488571.67')),
 ('Australia and New Zealand', Decimal('7953710.00')),
 ('Central America', Decimal('2452080.00')),
 ('Western Africa', Decimal('5735548.83')),
 ('Northern America', Decimal('9376094.00')),
 ('Southern Africa', Decimal('2650670.00')),
 ('South-Eastern Asia', Decimal('3865282.00')),
 ('Eastern Africa', Decimal('5949153.16')),
 ('Eastern Asia', Decimal('11346499.57')),
 ('Melanesia', Decimal('529590.00')),
 ('Micronesia', Decimal('2470.00')),
 ('Central Asia', Decimal('3749015.17'))]

### 2. Calculate country land area percentages for all the regions using a subquery in the JOIN clause 

Create a query with a main query that selects, from the `Geographic_location` table, the columns `Country_name`, `Land_area`, and `Sub_region`. The next line should then divide the `Land area` by the land area totals named, `TotalLandArea`, gotten from the subquery. Give this calculated column the alias `Pct_of_region_land`.

The query should also have a `JOIN` clause where we will add the query we created in Exercise 1 as a subquery named `Land_per_region`. This join occurs between the `Geographic_location` table and the `Land_per_region` subquery on the `Sub_region` column.

In [13]:
%%sql
SELECT
    geo.Country_name,
    geo.Land_area,
    geo.sub_region,
    (land_area / Land_per_region.totalLandArea)*100 AS Pct_of_region_land
FROM
    geographic_location geo
JOIN (SELECT
    sub_region,
    SUM(land_area) AS TotalLandArea
FROM
    geographic_location
GROUP BY
    sub_region) AS Land_per_region ON 
        geo.Sub_region = Land_per_region.sub_Region

LIMIT 5

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Afghanistan', Decimal('652230.00'), 'Southern Asia', Decimal('13.673197')),
 ('Algeria', Decimal('2381741.00'), 'Northern Africa', Decimal('36.027261')),
 ('American Samoa', Decimal('200.00'), 'Polynesia', Decimal('2.770977')),
 ('Angola', Decimal('1246700.00'), 'Middle Africa', Decimal('32.063103')),
 ('Anguilla', None, 'Caribbean', None)]

## Solutions

### 1. Calculate the total land area for each sub-region

In [6]:
%%sql

SELECT 
    Sub_region, 
    SUM(Land_area) AS Total_Land_Area
FROM 
    Geographic_location
GROUP BY 
    Sub_region

 * mysql+pymysql://root:***@localhost:3306/united_nations
18 rows affected.

[('Southern Asia', Decimal('4770135.41')),
 ('Northern Africa', Decimal('6610941.00')),
 ('Polynesia', Decimal('7217.67')),
 ('Middle Africa', Decimal('3888270.00')),
 ('Caribbean', Decimal('208104.00')),
 ('South America', Decimal('15401392.00')),
 ('Western Asia', Decimal('3488571.67')),
 ('Australia and New Zealand', Decimal('7953710.00')),
 ('Central America', Decimal('2452080.00')),
 ('Western Africa', Decimal('5735548.83')),
 ('Northern America', Decimal('9376094.00')),
 ('Southern Africa', Decimal('2650670.00')),
 ('South-Eastern Asia', Decimal('3865282.00')),
 ('Eastern Africa', Decimal('5949153.16')),
 ('Eastern Asia', Decimal('11346499.57')),
 ('Melanesia', Decimal('529590.00')),
 ('Micronesia', Decimal('2470.00')),
 ('Central Asia', Decimal('3749015.17'))]

This gives us a table with a list of all the sub-regions and their total land areas calculated. In this case, we are not calculating a single value, but an entire table of values. Now we just join this table to the main one and reference the `Sub-region` as the key.

### 2. Calculate country land area percentages for all the regions using a subquery in the JOIN clause

In [14]:
%%sql

SELECT 
    geoloc.Country_name,
    geoloc.Land_area,
    geoloc.Sub_region,
    (geoloc.Land_area / Land_per_region.Total_Land_Area) * 100 AS Pct_Of_Region_Land
FROM
    Geographic_location AS geoloc
JOIN 
    ( 
    SELECT 
        Sub_region, 
        SUM(Land_area) AS Total_Land_Area
    FROM 
        Geographic_location
    GROUP BY 
        Sub_region)  AS Land_per_region 
    ON 
        geoloc.Sub_region = Land_per_region.sub_Region
LIMIT 10

 * mysql+pymysql://root:***@localhost:3306/united_nations
10 rows affected.

[('Afghanistan', Decimal('652230.00'), 'Southern Asia', Decimal('13.673197')),
 ('Algeria', Decimal('2381741.00'), 'Northern Africa', Decimal('36.027261')),
 ('American Samoa', Decimal('200.00'), 'Polynesia', Decimal('2.770977')),
 ('Angola', Decimal('1246700.00'), 'Middle Africa', Decimal('32.063103')),
 ('Anguilla', None, 'Caribbean', None),
 ('Antigua and Barbuda', Decimal('440.00'), 'Caribbean', Decimal('0.211433')),
 ('Argentina', Decimal('2736690.00'), 'South America', Decimal('17.769108')),
 ('Armenia', Decimal('28470.00'), 'Western Asia', Decimal('0.816093')),
 ('Aruba', Decimal('180.00'), 'Caribbean', Decimal('0.086495')),
 ('Australia', Decimal('7690400.00'), 'Australia and New Zealand', Decimal('96.689469'))]

While this method may look a bit more complicated, it runs much faster than the previous method because it does not need to repeat calculations for each row. This is especially true for larger tables.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>